body{ 
	background: white;
	color: white;
}
 .titulo 

 {
 	color: black;
 	font-size: 20px;

 }
 .section
 {
 	text-align: center;
 	width: 200%
 	margin: 100px 0 100px 0;
 }
 
.opcservicio
 {
 	margin: 5px 2% 5px 2%;
 	display: inline-block;
 	height: 220px;
 	width: 15%;
 	background: green;
 	color: black;
 	vertical-align: top;
 }
 .opc
 {
 	text-align:center;
	margin: 50px 8% 30px 0;
 	display: inline-block;
 	height: 150px;
 	width: 28%;
 	background: yellow;
 	color: black;
 	vertical-align: top;
 }

 #portada
{	text-align: center;
	height: 200px;
	width: 100%;
	background: red;
	padding: 10px
}
 #servicios
 {	text-align: center;
	height: 200px;
	width: 100%;
 	background: white;
 	display: block;
 	height: 330px;
 }	

#conocenos
{	text-align: center;
	background: white;
	color: black;
}
#platzi
{ display: inline-block;
 color: black;
 width: 40%;
 height: 450px;
 text-align: left;
 vertical-align: top;
 background: orange;
 margin: 10px 4% 10px 4%;
}
.pla{
	color: black;
	width: 100%;
	height: 50px;
	text-align: center;

}
#platzi h1{
	text-align: center;
}
#plat
{ display: inline-block;
	color: black;
	width: 40%;
 height: 200px;
 vertical-align: top;
 background: orange;
 margin: 10px 4% 10px 4%;
}
#general
{  
	display: block;
	color: red;
	background: white;
	padding: 10px;
	margin: 50px 60% 50px 20%;
}

.con
{vertical-align: top;
	margin: 20px 10% 20px 10%;

}
#contactanos
{
	background: white;
	text-align: center;
}
.contac
{
	width: 20%;
	height: 170px;
	background: white;
	color: black;
	display: inline-block;
	vertical-align: top;
	margin: 0 5% 0 0;
}
#pie 
{
	background: white;
}


 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.opcpie
{
	text-align: center;
	background: white;
	color: black;
}
#formadecontactarnos
{
	background: white;
	text-align: center;
}
#pie
{
	text-align: center;
	background: gray;
	height:150px; 
	width:100% ;
}
